#sudoku-container {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    gap: 2px;
    margin: 20px auto;
    width: max-content;
}

#sudoku-container input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #000;
    box-sizing: border-box;
}

#sudoku-container input:nth-child(3n) {
    border-right: 3px solid black;
}

#sudoku-container input:nth-child(n+19):nth-child(-n+27),
#sudoku-container input:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 3px solid black;
}

#sudoku-container input:disabled {
    background-color: #eee;
}

#sudoku-container input.invalid {
    background-color: #f88;
}

.controls {
    text-align: center;
    margin-top: 20px;
}

.controls button, .controls select {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
}

#status {
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
